.sample1 {
    display: flex;
    flex-direction: row;
    background-color: gray;
    justify-content: center;
}

.item1 {
    padding: 2px 15px 2px 15px;
    margin: 10px;
    background-color: black;
    color: white;
}

.sample2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item2 {
    padding: 5px 15px 5px 15px;
    background-color: gray;
    color: red;
}

.sample3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: green;
}

.item3 {
    margin: 5px;
    padding: 5px 10px 5px 10px;
    background-color: white;
    color: black;
}